geodata/countries_geojson_flow.json
[
    {
        "id": "e21f4742bacc17bf",
        "type": "inject",
        "z": "d34f1ba5c47d3a7b",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "f42e265231346be4"
            ]
        ]
    },
    {
        "id": "f42e265231346be4",
        "type": "file in",
        "z": "d34f1ba5c47d3a7b",
        "name": "",
        "filename": "D:\\node_red_data\\countries.geojson",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "122fbafef2177779"
            ]
        ]
    },
    {
        "id": "122fbafef2177779",
        "type": "change",
        "z": "d34f1ba5c47d3a7b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"features\"",
                "fromt": "str",
                "to": "\"layer\": \"countries\", \"features\"",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"properties\"",
                "fromt": "str",
                "to": "\"style\": {\"stroke-width\": \"3\", \"stroke\": \"#04472a\", \"fill-color\": \"#ffffff\", \"fill-opacity\": 0 }, \"properties\"",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"ADMIN\"",
                "fromt": "str",
                "to": "\"country\"",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"ISO_A3\"",
                "fromt": "str",
                "to": "\"code\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "050d4ebc352008cc"
            ]
        ]
    },
    {
        "id": "050d4ebc352008cc",
        "type": "json",
        "z": "d34f1ba5c47d3a7b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "36501c3c7ab1517d",
                "6531e59230a1219f"
            ]
        ]
    },
    {
        "id": "6531e59230a1219f",
        "type": "worldmap",
        "z": "d34f1ba5c47d3a7b",
        "name": "",
        "lat": "48",
        "lon": "16",
        "zoom": "4",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/countries13272",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1020,
        "y": 200,
        "wires": []
    },
    {
        "id": "36501c3c7ab1517d",
        "type": "debug",
        "z": "d34f1ba5c47d3a7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 280,
        "wires": []
    }
]